body {
  background-color: #97e5e6 ;
  font-family: monospace;
}

header h1 {
  color: azure;
  font-size: 62px;
  margin-top: 1%;
  text-align: center;
}

.main-square-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1%;
}

.main-color-squares {
  align-items: center;
  background-color: #808080;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-left: 30px;
  width: 400px;
}

.main-color-squares h3 {
  color: #121416;
  margin-top: 30px;
  font-size: 32px;
  opacity: 0.6;
}

.main-color-squares img {
  height: 50px;
  margin-top: auto;
  margin-bottom: 30px;
  width: 50px;
  opacity: 0.6;
}

.generate-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.generate-container button {
  border-radius: 40px;
  height: 40px;
  font-size: 16px;
}

.generate-inputs {
  /* margin-top: 30px; */
}

.generate-inputs input {
  margin: 30px;
}

.generate-inputs input, select {
  border-radius: 40px;
  height: 40px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  text-align: center;
}

#new-project-text {
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
}

.new-project-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-project-container input, button {
  border-radius: 40px;
  height: 40px;
  font-size: 16px;
}

.new-project-container button {
  margin-left: 30px;
}

.all-past-project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.past-project {
  font-size: 26px;
  padding: 10px;
  margin-left: 10px;
}

.past-palette-squares {
  border: 1px solid black;
  height: 20px;
  margin-left: 10px;
  width: 20px;
}

.past-project-square-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.past-project-square-container img {
  margin-left: 10px;
}

.h3-container {
  border: 1px solid black;
  width: 150px;
}