body {
  background-color: #cfe0ec;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

button {
  background-color: #f8f8f8;
  border-radius: 40px;
  color: #7d7d7d;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .15em;
  outline: none;
  width: 10%;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  color: #7d7d7d;
  font-size: 62px;
  font-weight: 500;
  margin: 2%;
  letter-spacing: 10px;
  text-align: center;
}

header button {
  height: 40px;
  width: 10%;
}

.main-square-container {
  align-items: center;
  background-color: #7d7d7d;
  display: flex;
  flex-direction: row;
  height: 550px;
  justify-content: space-evenly;
  margin-top: 2%; 
}

.main-color-squares {
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 4px 4px rgba(87, 87, 87, 0.6);
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 17.5%;
}

.main-color-squares h3 {
  color: white;
  font-size: 32px;
}

.main-color-squares img {
  height: 50px;
  width: 50px;
}

.palette-overlay {
  align-items: center;
  background-color:rgba(77, 76, 76, 0.7);
  border-radius: 0 0 30px 30px;
  display: flex;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.25em;
  height: 18%;
  margin-top: auto;
  width: 100%;
  justify-content: space-evenly;
}

.inputs-container {
  align-items: center;
  color: #7d7d7d;
  display: flex;
  justify-content: space-evenly;
}

.inputs-container input, select {
  font-size: 18px;
}

.inputs-container button {
  width: 200px;
}

.inputs-container input {
  margin: 0 30px;
  height: 35px;
}

.inputs-container select {
  height: 40px;
}

.generate-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.generate-inputs {
  display: flex;
  margin-top: 30px;
}

.create-new-container {
  display: flex;
  margin-top: 30px;
}

#new-project-text {
  font-size: 32px;
  letter-spacing: .1em;
  margin-top: 30px;
}

.new-project-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-project-container button {
  height: 40px;
}

.new-project-container input {
  height: 35px;
}

.all-past-project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5%;
  margin-bottom: 30px;
}

.past-project {
  border: 1px solid black;
  font-size: 26px;
  height: 300px;
  margin-top: 30px;
  width: 500px;
  overflow: auto;
}

.past-palette-squares {
  border: 1px solid black;
  height: 20px;
  margin-left: 10px;
  width: 20px;
}

.past-project-square-container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;;
  justify-content: center;
}

.past-project-square-container img {
  margin-left: 10px;
}

.h3-container {
  text-align: center;
  margin-top: 30px;
}

.square-cards {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px;
}

.square-cards button {
  height: 34px;
  width: 100px;
}

.thumbnails {
  display: flex;
  margin: 0 30px;
}